<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.love.dao.CCmUserMapper">
	<resultMap id="BaseResultMap"
		type="com.hz.love.model.CCmUser">
		<id column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
		<result column="USER_NAME" jdbcType="VARCHAR"
			property="userName" />
		<result column="USER_FACE" jdbcType="VARCHAR"
			property="userFace" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP"
			property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID, OPEN_ID, USER_NAME, USER_FACE, CREATE_TIME
	</sql>
	<select id="findByOpenId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM C_CM_USER
		WHERE OPEN_ID = #{openId,jdbcType=VARCHAR}
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from c_cm_user
		where USER_ID = #{userId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		c_cm_user
		where USER_ID = #{userId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="userId"
		parameterType="com.hz.love.model.CCmUser">
		insert into c_cm_user (USER_ID, OPEN_ID, USER_NAME,
		USER_FACE, CREATE_TIME)
		values (#{userId,jdbcType=VARCHAR},
		#{openId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{userFace,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="com.hz.love.model.CCmUser">
		insert into c_cm_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="openId != null">
				OPEN_ID,
			</if>
			<if test="userName != null">
				USER_NAME,
			</if>
			<if test="userFace != null">
				USER_FACE,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userFace != null">
				#{userFace,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.hz.love.model.CCmUser">
		update c_cm_user
		<set>
			<if test="openId != null">
				OPEN_ID = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userFace != null">
				USER_FACE = #{userFace,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where USER_ID = #{userId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.hz.love.model.CCmUser">
		update c_cm_user
		set OPEN_ID =
		#{openId,jdbcType=VARCHAR},
		USER_NAME = #{userName,jdbcType=VARCHAR},
		USER_FACE = #{userFace,jdbcType=VARCHAR},
		CREATE_TIME =
		#{createTime,jdbcType=TIMESTAMP}
		where USER_ID =
		#{userId,jdbcType=VARCHAR}
	</update>
</mapper>